<div id="container">Loading...</div>
<div class="row">
	<div class="span2 offset6">
		<form accept-charset="UTF-8" action="/signout" method="post">
			<fieldset>
				<div class="form-actions">
					<button class="btn btn-danger" id="sign_out">Sign Out!</button>
				</div>
			</fieldset>	
		</form>
	</div>
</div>