// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	margin-top: 60px;
}
.btn {
	padding: 0px 14px;
	line-height: 18px;
	a:hover {
		background-color: transparent;
		text-decoration: none;
	}
}
.navbar .brand {
	padding: 20px 20px 10px;
	&:hover {
		background-color: transparent;
	}
}
.delete {
	cursor: pointer;
}
legend {
	border-bottom: none;
	margin-bottom: 0;
	padding: 20px 20px 20px 0px;
}
.form-actions {
	padding: 20px 20px 20px 0px;
	background-color: transparent;
}
blockquote {
	padding: 0;
	p {
		font-size: 12px;
	}
}
footer {
	position: absolute;
	bottom: 10px;
}