// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body {
	margin-top: 60px;
}
.btn {
	padding: 0px 14px;
	line-height: 18px;
}